<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Contador de Truco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
<div class="valendo">
  <h1 class="ion-text-center">Valendo: {{valendo}}</h1>
</div>

<div class="btn-valor">
  <ion-button size="large" class="btn" (click)="change_contador(1)">1</ion-button>
  <ion-button size="large" class="btn" (click)="change_contador(3)">3</ion-button>
  <ion-button size="large" class="btn" (click)="change_contador(6)">6</ion-button>
  <ion-button size="large" class="btn" (click)="change_contador(9)">9</ion-button>
  <ion-button size="large" class="btn" (click)="change_contador(12)">12</ion-button>
</div>

<div class="times">
  <div class="time">
    <h1>Time 1</h1>
    <ion-button size="large" class="btn" (click)="increase_team1_score()">+</ion-button>
    <p>{{time1_score}}</p>
    <ion-button size="large" class="btn" (click)=" decrease_team1_score()">-</ion-button>

  </div>
  <div class="time">
    <h1>Time 2</h1>
    <ion-button size="large" class="btn" (click)=" increase_team2_score()">+</ion-button>
    <p>{{time2_score}}</p>
    <ion-button size="large" class="btn" (click)=" decrease_team2_score()">-</ion-button>
  </div>
</div>

<div class="partidas">
  <h1>Partidas</h1>
  <div class="time1">
  <h2>Time 1: </h2><h2 class="result1"> {{time1_wins}}</h2>
  </div>
  <div class="time2">
    <h2>Time 2: </h2><h2 class="result2"> {{time2_wins}}</h2>
    </div>
</div>

</ion-content>
<ion-footer class="rodape">
<ion-button class="limpar" size="large" (click)="clean()">Limpar</ion-button>
</ion-footer>
